<h1>Choose restaurant near your place</h1>
<ul class="list-group w-50">
  <li class="list-group-item bg-primary text-white"><span class="float-left ml-4">Restaurant</span>
    <span class="float-right">Rating</span>
  </li>
  <% if @restaurant == [] %>
    <h2>No restaurant near your place</h2>
  <% else %>
    <% for i in 0..@restaurant.size-1 do %>
     
      <li class="list-group-item list-group-item-action"><%= link_to @restaurant[i].name, show_restaurant_url(id: @restaurant[i].id), :class=> "login show" %>
        <% if @reviews[i].count != 0 %>
          <span class="star-rating float-right" data-score= <%= @reviews[i].sum/@reviews[i].count %> ></span>
        <% else %>
          <span class="float-right"> No rating</span>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>


<script>
  $(document).ready(function() {
   $('.star-rating').raty({
   readOnly: true,
   score: function() {
     return $(this).attr('data-score');
   },
   path: '/assets/'
   });
});
 
</script>
