@import "bootstrap";
@import "font-awesome";
@import "user";
@import "orders";
@import "show_restaurant";
@import "post";

.booking {
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid black;
}
