<!-- Footer -->
<div class="font-small bg-dark footer">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row -->
      <div class="row justify-content-left">

        <!-- Grid column -->
        <div class="col-md mt-5">

          <!-- Links -->
          <%= link_to "Home", root_url, :class => "login" %>
          
        </div>
        
        <div class="col-md mt-5">

          <!-- Links -->
          <%= link_to "Contact", contact_url, :class => "login" %>
          
        </div>
        <div class="col-md mt-5 text-white">

         Email us at zomatoclone@gmail.com 
          
        </div>
        
        

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">© 2018 Copyright:
      <%= link_to "ZomatoClone", root_url, :class => "login" %>
    </div>
    <!-- Copyright -->

  </div>
  <!-- Footer -->
